* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.navbar {
    background-color: rgba(255, 255, 255) !important;
    /*
    background: -moz-linear-gradient(270deg, rgba(0,108,255,.8) 22%, rgba(10,0,162,.8) 66%);
    background: -webkit-linear-gradient(270deg, rgba(0,108,255,.8) 22%, rgba(10,0,162,.8) 66%);
    background: linear-gradient(270deg, rgba(0,108,255,.8) 22%, rgba(10,0,162,.8) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006cff",endColorstr="#0a00a2",GradientType=1);
    */
    padding: 0px 60px;
}

a{
    text-decoration: none !important;
    color: inherit;
}
.navbar a {
    font-size: 15px !important;
    color: blue;
}

.navbar a:hover {
    color: orange;

}

.navbar-brand {
    padding-right: 20px;
}

.dropdown-item {
    color: black !important;
}

.me-2 {
    width: 200px;
}

.site-footer {
    background-color: rgb(20, 20, 20);
    padding: 20px 0px 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px
}

.site-footer a {
    color: yellow;
}

.site-footer a:hover {
    color: orange;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: orange;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.copyright-text {
    margin: 0;
    text-align: center;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.form-group {
    margin: 10px 0px;
}

.col-xs-6 {
    max-width: 200px;
}

div.banner {
    height: 350px;
    width: 100vw;
    background-image: url("../images/default-banner.png");
    background-position: center;
    background-size: contain;
    background-attachment: fixed;

}

div.banner .transbox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

div.banner2 {
    height: 350px;
    width: 100vw;
    background-image: url("../images/Kigali\'s\ Newest\ Shopping\ directory\ \(2\).png");
    background-position: center;
    background-size: cover;
}

main.double-column {
    background-color: transparent;
    margin: 0px 120px 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.content {
    grid-area: 1 / 1 / 6 / 8;
}

.ads {
    grid-area: 1 / 8 / 6 / 11;
}

/* homepage content */

@media only screen and (max-width : 768px) {
    main.double-column {
        margin: 10px;
        display: block;
    }

    .content {
        width: 100%;
    }

    .ads {

        width: 100%;
    }

    section {
        height: auto;
        padding: 10px 0px;
    }
}

.ads img {
    margin: 0px 1px 3px 1px;
}


section {
    padding: 20px;
    margin: 20px 0px;
    background-color: white;
    border-radius: 10px;
}

.scrolling-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.scrolling-wrapper {
    scrollbar-width: auto;
    scrollbar-color: silver #ffffff;
}

/* Chrome, Edge, and Safari */
.scrolling-wrapper::-webkit-scrollbar {
    width: 5px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    background: #ffffff;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.checked {
    color: orange;
}

.card {
    border: 1.5px solid silver;
    border-radius: 10px;
}
.card-padding{
    padding: 10px;
}
.card:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px silver;
    transition: .5s;
}
#nohover:hover{
    cursor: inherit;
    transform: translateY(0px);
    box-shadow: none;
    transition: .5s;
}
.card-vertical {
    min-height: 500px;
    min-width: 300px;
}

.card-blog {
    border: none;
    padding: 0px;
}

@media only screen and (max-width : 768px) {
    .scrolling-wrapper {
        display: block !important;
    }
}


.rating {
    padding: 10px 0px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

.card-img-top {
    height: 180px !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-img-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card-horizontal {
    display: flex !important;
    flex-direction: row;
    height: 250px !important;
    margin-bottom: 10px;
}
.card-horizontal-2 {
    display: flex !important;
    flex-direction: row;
    height: 350px !important;
    margin-bottom: 10px;
}
.fa-solid{
    width: 10px;
    margin-right: 10px;
}

@media only screen and (max-width : 768px) {
    .card-horizontal {
        display: block !important;
    }
}

.blog-banner {
    width: 100%;
    height: 20vh;
    background-image: url('http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcSWTK4vvpnBiGO3L9gIaNjHWQncEF1KeDgUhfQvzghYn-wZp7bKjCmizTrpwCFPOQNb');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-right: 5px;
    border-radius: 50px;
    width: 120px;
}
