* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "PT Sans";
}

body {
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8) !important;
    /*
    background: -moz-linear-gradient(270deg, rgba(0,108,255,.8) 22%, rgba(10,0,162,.8) 66%);
    background: -webkit-linear-gradient(270deg, rgba(0,108,255,.8) 22%, rgba(10,0,162,.8) 66%);
    background: linear-gradient(270deg, rgba(0,108,255,.8) 22%, rgba(10,0,162,.8) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006cff",endColorstr="#0a00a2",GradientType=1);
    */
    padding: 0px 30px;
}

.navbar a {
    font-size: 16px;
    color: blue;
}

.navbar a:hover {
    color: orange;

}

.navbar-brand {
    padding-right: 20px;
}

.dropdown-item {
    color: black !important;
}

.me-2 {
    width: 200px;
}

.site-footer {
    background-color: rgb(20, 20, 20);
    padding: 20px 0px 20px;
    font-size: 15px;
    line-height: 24px;
    color: white;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px
}

.site-footer a {
    color: yellow;
}

.site-footer a:hover {
    color: orange;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: orange;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}
.copyright-text {
    margin: 0;
    text-align: center;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}
.form-group {
    margin: 10px 0px;
}

.col-xs-6 {
    max-width: 200px;
}

div.banner {
    height: 40vh;
    width: 100vw;
    background-image: url("https://st2.depositphotos.com/1043178/11422/i/600/depositphotos_114229584-stock-photo-view-of-downtown-kigali.jpg");
    background-position: bottom;
    background-size: cover;
}

main.double-column {
    background-color: transparent;
    margin: 0px 60px 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}
.content {
    grid-area: 1 / 1 / 6 / 8;
}

.ads {
    grid-area: 1 / 8 / 6 / 11;
}

/* homepage content */

@media only screen and (max-width : 768px) {
    main.double-column {
        margin: 10px;
        display: block;
    }

    .content {
        width: 100%;
    }

    .ads {

        width: 100%;
    }

    section {
        height: auto;
        padding: 10px 0px;
    }
}

.ads img {
    margin: 0px 1px 3px 1px;
}

.hero {
    width: 100%;
    height: 60vh;
    background-image: url("https://radissonhotels.iceportal.com/image/radisson-blu-hotel-convention-center-kigali/exterior/16256-116537-f63878562_3xl.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px .5px .5px silver;
    color: white;
}

section {
    padding: 40px;
    margin: 20px 0px;
    background-color: white;
    border-radius: 10px;
}

h4 {
    text-transform: uppercase;
}

.card {
    margin: 10px 10px 10px 0px;
}
.carousel{
    height: 400px !important
}
.carousel-item {
    height: 400px;
}

.blog-banner {
    width: 100%;
    height: 20vh;
    background-image: url('http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcSWTK4vvpnBiGO3L9gIaNjHWQncEF1KeDgUhfQvzghYn-wZp7bKjCmizTrpwCFPOQNb');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex !important;
    flex-direction: row;
    border: none !important;
}
.card-body{
    padding: 0px 20px !important;
}
.card-img-left{
    width: 50% !important;
}
.btn{
    margin-right: 5px;
    border-radius: 50px;
    width: 120px;
}