<!--This file contains all the html that isn't displayed on the page-->
<!DOCTYPE html>
<html>

<head>
    <title>ShopKigali - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--SEO-->
    <meta name="keywords" content="{% block kw %}{% endblock %}">
    <meta name="description" content="{% block desc %}{% endblock %}">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap" rel="stylesheet">
    <!--STYLESHEETS-->
    <link rel="stylesheet" href="../static/css/utils.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <!--FONT AHHHHHHHHHHHHH-SOME-->
    <script src="https://kit.fontawesome.com/71814132a8.js" crossorigin="anonymous"></script>
    <!--GOOGLE ADS-->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
        crossorigin="anonymous"></script>
</head>

<body>
    {% block content %} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>