<!--This html file contains everything that is uniform on every page. -->
{% extends ".base.html" %}

<!--Tab title will be passed to lower-level templates -->
{% block title %}
{% block name %}{% endblock %}
{% endblock %}

<!--Content-->
{% block content %}

<!--NAVBAR-->
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../static/images/logo.png" alt="SHOPKigali" width="auto" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a href="/malls-and-shopping-centers" class="nav-link">
            Malls & Shopping Centers <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/malls-and-shopping-centers/names">Kigali Heights</a></li>
            <li><a class="dropdown-item" href="/malls-and-shopping-centers/stores">Silverback</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link">
            Hotels and Restaurants <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/hotels">Hotels</a></li>
            <li><a class="dropdown-item" href="/restaurants">Restaurants</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="/blog" class="nav-link">
            Blog <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog/lifestyle">Lifestyle</a></li>
            <li><a class="dropdown-item" href="/blog/fashion">Fashion</a></li>
            <li><a class="dropdown-item" href="/blog/food-and-drink">Food and Drink</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
      <div class="d-flex">
          <a class="nav-link" href="/signup"><button type="button" class="btn btn-primary">Sign Up</button></a>
          <a class="nav-link" href="/login"><button type="button" class="btn btn-outline-primary">Login</button></a>
      </div>
    </div>
  </div>
</nav>
<div class="banner">
</div>
{% block main %}{% endblock %}
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Contact Us</h6>
        <!-- Name input-->
        <div class="form-group">
          <div class="col-md-9">
            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
          </div>
        </div>

        <!-- Email input-->
        <div class="form-group">
          <div class="col-md-9">
            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
          </div>
        </div>

        <!-- Message body -->
        <div class="form-group">
          <div class="col-md-9">
            <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..."
              rows="5"></textarea>
          </div>
        </div>

        <!-- Form actions -->
        <div class="form-group">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        </fieldset>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Explore</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Malls</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">Shops</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Promotions</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Blog</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="/terms">Terms and Conditions</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="#">Comet Digital Ltd</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}