<!--This html file contains everything that is uniform on every page. -->
{% extends ".base.html" %}

<!--Tab title will be passed to lower-level templates -->
{% block title %}
{% block name %}{% endblock %}
{% endblock %}

<!--Content-->
{% block content %}
<!--NAVBAR-->
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../static/images/logo.png" alt="SHOPKigali" width="auto" height="80">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a href="/malls-and-shopping-centers" class="nav-link">
            Malls & Shopping Centers <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/malls-and-shopping-centers/names">Kigali Heights</a></li>
            <li><a class="dropdown-item" href="/malls-and-shopping-centers/stores">Silverback</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link">
            Hotels and Restaurants <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/hotels">Hotels</a></li>
            <li><a class="dropdown-item" href="/restaurants">Restaurants</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a href="/blog" class="nav-link">
            Blog <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog/lifestyle">Lifestyle</a></li>
            <li><a class="dropdown-item" href="/blog/fashion">Fashion</a></li>
            <li><a class="dropdown-item" href="/blog/food-and-drink">Food and Drink</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
      <div class="d-flex">
        {% if session.user_id %}
        <li class="nav-item dropdown">
          <a href="/blog" class="nav-link">
            {{ user[0]["username"] }} <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Profile</a></li>
            <li><a class="dropdown-item" href="/">My ShopKigali</a></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
        {% else %}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sModal">
            Sign Up
          </button>
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#lModal">
            Login
          </button>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
<!-- Signup Modal -->
<div class="modal fade" id="sModal" tabindex="-1" aria-labelledby="sModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../static/images/logo.png" alt="SHOPKigali" width="auto" height="50">
        <h3 class="modal-title" id="exampleModalLabel">Sign Up</h3>
        <br>
        <form method="POST" action="/signup">
          <div class="form-outline mb-1">
            <input name="name" type="text" id="form3Example1cg" class="form-control form-control" />
            <label class="form-label" for="form3Example1cg">Your Name</label>
          </div>
          <div class="form-outline mb-1">
            <input name="email" type="email" id="form3Example3cg" class="form-control form-control" />
            <label class="form-label" for="form3Example3cg">Email</label>
          </div>
          <div class="form-outline mb-1">
            <input name="password" type="password" id="form3Example4cg" class="form-control form-control" />
            <label class="form-label" for="form3Example4cg">Password</label>
          </div>
          <div class="form-outline mb-1">
            <input name="cpassword" type="password" id="form3Example4cdg" class="form-control form-control" />
            <label class="form-label" for="form3Example4cdg">Confirm password</label>
          </div>
          <div class="form-check d-flex mb-5">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg"
              style="width: 15px; height: 15px;" />
            <label class="form-check-label" for="form2Example3g">
              I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
            </label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
          <p class="text-center text-muted mt-1 mb-0">Have already an account? <a href="#!"
              class="fw-bold text-body"><u>Login here</u></a></p>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Login Modal -->
<div class="modal fade" id="lModal" tabindex="-1" aria-labelledby="lModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="modal-title" id="exampleModalLabel">Login</h3>
        <br>
        <form action="/login" method="POST">
          <div class="form-outline mb-1">
            <input type="email" id="form3Example3cg" class="form-control form-control" />
            <label name="email" class="form-label" for="form3Example3cg">Email</label>
          </div>
          <div class="form-outline mb-1">
            <input type="password" id="form3Example4cg" class="form-control form-control" />
            <label name="password" class="form-label" for="form3Example4cg">Password</label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Login</button>
          </div>
          <p class="text-center text-muted mt-1 mb-0">No Account? <a href="#!" class="fw-bold text-body"><u>Sign
                Up</u></a></p>
        </form>
      </div>
    </div>
  </div>
</div>

{% block main %}{% endblock %}
<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Contact Us</h6>
        <form action="/contact" method="post">
          <!-- Name input-->
          <div class="form-group">
            <div class="col-md-9">
              <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
            </div>
          </div>
          <!-- Email input-->
          <div class="form-group">
            <div class="col-md-9">
              <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
            </div>
          </div>
          <!-- Message body -->
          <div class="form-group">
            <div class="col-md-9">
              <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..."
                rows="5"></textarea>
            </div>
          </div>
          <!-- Form actions -->
          <div class="form-group">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
          </fieldset>
        </form>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Explore</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Malls</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">Shops</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Promotions</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Blog</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="/terms">Terms and Conditions</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="#">Comet Digital Ltd</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}