<!-- homepage content -->
{% extends ".layout.html" %}

<!-- tab title -->
{% block name %}
About - ShopKigali
{% endblock %}

<!-- main content -->
{% block main %}
<main class="double-column">
  <div class="content sub-column">
    <section>
      <h1>About Us</h1>
    <br>
    <!--<img src="https://t3.ftcdn.net/jpg/05/08/85/90/360_F_508859062_XjESyPEWP27dowk4FktCCuCAdIpj23pn.jpg" width="100%">-->
    <p>Welcome to ShopKigali - the ultimate guide to shopping in the beautiful city of Kigali! Our
      website is dedicated to helping you find the best shops, boutiques, and businesses in Kigali's
      top malls and shopping districts. <br><br>
      At ShopKigali, we believe that shopping should be a fun and enjoyable experience, and
      that's why we've created this website to help you navigate the city's bustling shopping
      scene. Our team of experts has scoured Kigali to bring you the latest information on the
      hottest shopping destinations, the trendiest boutiques, and the best deals around.
      As a proud member of the Comet Digital family, we are committed to providing you with the
      most comprehensive and up-to-date information on shopping in Kigali. Whether you're a
      local looking for the latest fashion trends, or a visitor hoping to find the perfect souvenir,
      we've got you covered. <br><br>
      So, what are you waiting for? Explore our website to discover the best shopping spots in
      Kigali and get ready to shop 'til you drop! And if you have any questions or suggestions, feel
      free to get in touch with us - we love hearing from our readers.</p>
    </section>
  </div>
  <div class="ads sub-column">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-0847299184167787"
      data-ad-slot="9473987533"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
      crossorigin="anonymous"></script>
    <!-- Shopkigali ads -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0847299184167787" data-ad-slot="5258027462"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


  </div>
</main>
{% endblock %}