{% extends "admin-layout.html" %}

{% block main %}
<div style="width: 85%; padding: 20px;">
    <h3><strong>
            Blog Posts
        </strong></h3>
        <a href="/admin/blog/new">
            <button type="button" class="btn btn-primary btn-block mb-4">Create New</button>
        </a>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% if blog|length == 0 %}
            <p>No blog listed yet</p>
        {% else %}
            <tbody>
                {% for i in range(blog|length) %}
                    <tr>
                        <th scope="row">{{ blog[i]["id"] }}</th>
                        <td>{{ blog[i]["title"] }}</td>
                        <td>{{ blog[i]["category"] }}</td>
                        <td>
                            <a href="/blog/{{ blog[i]['id'] }}">
                                <button type="button" class="btn btn-primary btn-block mb-4">View</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
</div>
{% endblock %}