{% extends ".base.html" %}
{% block content%}
<form style="margin: 50px auto; width: 400px; background-color: white; padding: 20px; border-radius: 10px;" method="POST" action="/admin">
  <div style="text-align: center;">
    <img src="../static/images/logo.png" alt="logo" width="100" height="auto">
    <h3>Administrator Login</h3>
  </div>
  <br>
  <!-- Password input -->
  <div class="form-outline mb-4">
    <input name="password" type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>  
  <button type="submit" class="btn btn-primary btn-block mb-4" style="width: 100%;">Sign in</button>

</form>
{% endblock %}