{% extends "admin-layout.html" %}

{% block main %}
<div style="width: 85%; padding: 20px;">
    <h3><strong> {{ restaurant[0]["restaurant_name"] }} (ID:{{ restaurant[0]["id"] }}) </strong></h3>
    <button type="button" class="btn btn-primary btn-block mb-4">Edit</button>
    <button type="button" class="btn btn-danger btn-block mb-4">Delete</button>
    <br>
    <img src="{{ restaurant[0]['restaurant_photo_path'] }}" alt="{{ restaurant[0]['restaurant_name'] }}" width="50%" height="auto">
    <div style="float: right;">
        <h5>Address:</h5>
        <p>{{ restaurant[0]["restaurant_address"] }}</p>
        <h5>Phone Number</h5>
        <p>{{ restaurant[0]["restaurant_phone"] }}</p>
        <h5>Website:</h5>
        <p>{{ restaurant[0]["restaurant_website"] }}</p>
        <h5>Opening Time</h5>
        <p>{{ restaurant[0]["restaurant_opening"] }}</p>
        <h5>Closing Time</h5>
        <p>{{ restaurant[0]["restaurant_closing"] }}</p>
        <h5>Description</h5>
        <p>{{ restaurant[0]["restaurant_description"] }}</p>
        <br>
    </div>

</div>

{% endblock %}