{% extends "admin-layout.html" %}

{% block main %}
<div style="width: 85%; padding: 20px;">
    <h3><strong>Add Mall Listing</strong></h3>
    <br>
    <form action="/admin/blog/new" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
            <input required name="title" type="text" class="form-control" placeholder="Title">
        </div>
        <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label">Author</label>
            <input required name="author" type="text" class="form-control"
                placeholder="Author">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <p>This editor uses markdown for formatting. See examples and documentation <a href="">here</a></p>
            <textarea name="content" class="form-control" rows="20"></textarea>
        </div>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Image Link</label>
            <input name="photo" class="form-control" type="text">
        </div>
        <div class="mb-3">
            <select name="category" class="form-select" aria-label="Default select example">
                <option selected>Select Category</option>
                <option value="FOOD AND DRINK">Food and Drink</option>
                <option value="LIFESTYLE">Lifestyle</option>
                <option value="FASHION">Fashion</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Publish</button>
    </form>

</div>
{% endblock %}
