{% extends "admin-layout.html" %}

{% block main %}
<h3><strong>
    Mall Listings
</strond></h3>
<button type="button" class="btn btn-primary btn-block mb-4">Create New Listing</button>
<br>
<div class="card-horizontal card" style="width: 700px; height: 200px;">
    <div class="card-body">
    <h4>#23232 - TW FOODS</h4>
    <button type="button" class="btn btn-primary btn-block mb-4">View</button>
    <button type="button" class="btn btn-warning btn-block mb-4">Edit</button>
    <button type="button" class="btn btn-danger btn-block mb-4">Delete</button>
    </div>
  </div>

{% endblock %}