{% extends ".base.html" %}

{% block content%}
<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <img src="/static/images/logo.png" alt="logo" width="70" height="auto" style="margin-right: 10px;">
        <h5>Administrator Dashboard</h5>
        <br>
        <h6 style="margin-bottom: -10px;">GENERAL</h6><hr>
        <a class="sidelink" href="/admin/contacts">Contact</a><br>
        <a class="sidelink" href="/admin/listing-applications">Listing Applications</a><br>
        <a class="sidelink" href="/admin/mall-listings">Mall Listings</a><br>
        <a class="sidelink" href="#">Restaurant Listings</a><br>
        <a class="sidelink" href="#">Hotel Listings</a><br>
        <a class="sidelink" href="#">Advertisements</a><br>
        <a class="sidelink" href="#">Users</a><br>
        <a class="sidelink" href="#">Subscription List</a><br>
        <br><br>
        <h6 style="margin-bottom: -10px;">TECHNICAL</h6><hr>
        <a class="sidelink" href="#">Errors</a><br>
        <a class="sidelink" href="#">Performance</a><br>
    </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 20px;">
    <div class="container pt-1" style="margin-left: 320px;">
        {% block main %}
        {% endblock %}
    </div>
  </main>
  <!--Main layout-->
{% endblock %}