<!-- homepage content -->
{% extends ".layout.html" %}

<!-- tab title -->
{% block name %}
hotels and Shopping Centers In Kigali - ShopKigali
{% endblock %}

<!-- main content -->
{% block main %}
<main class="double-column">
  <div class="content sub-column">
    <section>
      <h3>Hotels</h3>
    </section>
    <section>
      {% if hotels|length == 0 %}
      <p>Error loading hotels.</p>
      {% else %}
        {% for i in range(hotels|length) %}
          <a href="/hotels-and-shopping-centers/{{ hotels[0]['id'] }}">
            <div class="card card-horizontal-2 card-large" style="width: 100%;">
              <img src="{{ hotels[i]['hotel_photo_path'] }}" class="card-img-left" width="50%" alt="...">
              <div class="card-body">
                <h4 class="card-title"><strong>{{ hotels[i]["hotel_name"] }}</strong></h4>
                <p>{{ hotels[i]["hotel_address"] }}</p>
                <p class="card-text">{{ hotels[i]["hotel_description"] }}
                  <br><br>
                  <span style="color: grey;"><i class="fa-solid fa-location-dot"></i> {{ hotels[i]["hotel_address"] }}</span><br>
                  <span style="color: grey;"><i class="fa-solid fa-globe"></i> {{ hotels[i]["hotel_website"] }} </span><br>
                  <span style="color: grey;"><i class="fa-solid fa-phone"></i> {{ hotels[i]["hotel_phone"] }} </span><br>
                  <span style="color: grey;"><i class="fa-solid fa-clock"></i> {{ hotels[i]["hotel_opening"] }} - {{ hotels[i]["hotel_closing"] }} </span><br>
                </p>
                <div class="rating">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span>(22 Reveiws)</span>
                </div>
              </div>
            </div>
          </a>
          <br>
        {% endfor %}
      {% endif %}
    </section>
  </div>
  <div class="ads sub-column">
    <section style="height: 70vh;">
      <p>Advertisement</p>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
        crossorigin="anonymous"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed"
        data-ad-client="ca-pub-0847299184167787" data-ad-slot="9473987533"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>
    <section>
      <h5>Latest from the Blog</h5>
      <br>
      <div class="card card-blog card-small" style="width: 100%;">
        <img
          src="https://www.tripsavvy.com/thmb/RMnBKZ1aV6hfwFDea6MBsq5WdkI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Rwanda_sambaza-0683660a807442318cf67decfa113e49.jpeg"
          class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Taste the Flavors of Kigali: Exploring the Food Scene in Rwanda's Capital City</h5>
          <p class="card-text">Kigali, the capital city of Rwanda, is known for its vibrant culture and breath-taking
            scenery...</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}