<!-- homepage content -->
{% extends ".layout.html" %}

<!-- tab title -->
{% block name %}
Malls and Shopping Centers In Kigali - ShopKigali
{% endblock %}

<!-- main content -->
{% block main %}
<main class="double-column">
  <div class="content sub-column" style="padding: 50px;">
    <h1>Malls and Shopping Centers</h1>
    <br>

  </div>
  <div class="ads sub-column">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-0847299184167787"
      data-ad-slot="9473987533"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
      crossorigin="anonymous"></script>
    <!-- Shopkigali ads -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0847299184167787" data-ad-slot="5258027462"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


  </div>
</main>
{% endblock %}