<!-- homepage content -->
{% extends ".layout.html" %}

<!-- tab title -->
{% block name %}
Homepage
{% endblock %}

<!-- main content -->
{% block main %}
<main class="double-column">
    <div class="content sub-column">
        <h1>Privacy Policy</h1>
        <br>
        <!--<img src="https://t3.ftcdn.net/jpg/05/08/85/90/360_F_508859062_XjESyPEWP27dowk4FktCCuCAdIpj23pn.jpg" width="100%">-->
        <p>At ShopKigali, we are committed to protecting your privacy. This Privacy Policy describes
            how we collect, use, and disclose personal information when you use our website.
        <ol>
            <li>
                Personal Information We Collect: We collect personal information such as your
                name, email address, and location when you sign up for our newsletter, submit a
                contact form, or participate in a survey or contest.
            </li>
            <li>
                Use of Personal Information: We use your personal information to provide you with
                the services and information you request from us, to communicate with you about
                our services, and to improve our website and services.
            </li>
            <li>
                User Conduct: You agree to use this website only for lawful purposes and in a
                manner that does not infringe on the rights of others. You may not use this website
                to transmit or post any material that is unlawful, defamatory, obscene, or otherwise
                objectionable.
            </li>
            <li>
                Sharing of Personal Information: We do not sell, rent, or disclose your personal
                information to third parties, except as required by law or to fulfill a service you have
                requested from us.
            </li>
            <li>Cookies: We use cookies on our website to collect information about your browsing
                behavior and preferences. You can choose to accept or decline cookies through your
                web browser settings.
            </li>
            <li>
                Security: We take reasonable measures to protect your personal information from
                unauthorized access, disclosure, or misuse.
            </li>
            <li>
                Third-Party Links: Our website may contain links to third-party websites. We are not
                responsible for the privacy practices or content of these websites.
            </li>
            <li>
                Children's Privacy: Our website is not intended for use by children under the age of
                13, and we do not knowingly collect personal information from children under the
                age of 13.
            </li>
            <li>
                Changes to Privacy Policy: We reserve the right to change this Privacy Policy at any
                time without prior notice. Your continued use of our website after any such changes
                constitutes your acceptance of the new Privacy Policy.
            </li>
        </ol>
        Thank you for using ShopKigali!
        </p>
    </div>
    <div class="ads sub-column">
        <img src="https://pittsburgh.setac.org/wp-content/uploads/2022/08/setac-placeholder-ad-skyscraper.jpg"
            style="width: 100%; height: 190px;">
        <img src="https://pittsburgh.setac.org/wp-content/uploads/2022/08/setac-placeholder-ad-skyscraper.jpg"
            style="width: 100%; height: 190px;">


    </div>
</main>
{% endblock %}