<!-- homepage content -->
{% extends ".layout.html" %}

<!-- tab title -->
{% block name %}
Restaurants In Kigali - ShopKigali
{% endblock %}

<!-- main content -->
{% block main %}
<main class="double-column">
  <div class="content sub-column" style="padding: 50px;">
    <h1>Restaurants</h1>
    <br>
    <div class="card card-horizontal" style="width: 100%;">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/c3/8b/30/photo1jpg.jpg" class="card-img-left" alt="https://media-cdn.tripadvisor.com/media/photo-s/16/c3/8b/30/photo1jpg.jpg">
      <div class="card-body">
        <h3 class="card-title">Card title</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="ads sub-column">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-format="autorelaxed" data-ad-client="ca-pub-0847299184167787"
      data-ad-slot="9473987533"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0847299184167787"
      crossorigin="anonymous"></script>
    <!-- Shopkigali ads -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0847299184167787" data-ad-slot="5258027462"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


  </div>
</main>
{% endblock %}